<?xml version="1.0" encoding="UTF-8"?>

<configuration status="INFO" monitorInterval="30" packages="com.strikingly.data.logappender">
    <properties>
        <property name="LOG_HOME">/tmp</property>
        <property name="fileName">logfile.log</property>
    </properties>
    <appenders>
        <!--console配置-->
        <console name="Console" target="SYSTEM_OUT">
            <!--输出日志的格式-->
            <PatternLayout pattern="%highlight{[ %p ] [%-d{yyyy-MM-dd HH:mm:ss}] [%l] %m%n}"/>
        </console>

        <!--需要有一个定义好的添加了Plugin注释的File类-->
        <File name="FileAppender" fileName="${LOG_HOME}/file.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5p] {%F:%L} - %m%n</Pattern>
            </PatternLayout>
        </File>

        <!--RollingFile，按照大小分文件，超过指定大小，会按照filePattern指定进行归档保存-->
        <RollingFile name="RollingFile" fileName="${LOG_HOME}/rollingfile.log"
                        filePattern="${LOG_HOME}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5p] {%F:%L} - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="200M" />
            </Policies>
            <!--最多保留多少个文件-->
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <!--自定义SQSAppender，发送消息到AWS SQS-->
        <SqsAppender name="SqsAppender" queueName="tang-test-queue">
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5p] {%F:%L} - %m%n"/>
        </SqsAppender>
    </appenders>

    <loggers>
        <logger name="SQSTestLogger" level="DEBUG" additivity="false">
            <AppenderRef ref="SqsAppender" />
        </logger>
        <root level="INFO">
            <appender-ref ref="Console" level="INFO"/>
            <AppenderRef ref="RollingFile" level="DEBUG" />
            <!--<AppenderRef ref="SqsAppender" level="WARN"/>-->
        </root>
    </loggers>
</configuration>